<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a routerLink="/user/home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Acceuil</a>
                <span></span> Assistance <span> FAQ</span>
            </div>
        </div>
    </div>

    <div class="page-content pt-50">
        <div class="container">
            <div class="">

                <div class="slider-wrapper">
                    <div class="image-list">
                        <img class="image-item" src="app/assets/_user/imgs/bg/bg2.png
                    " alt="img-1" />
                    </div>
                </div>

                <div style="margin: 6%;">
                    <h1 class="my-title">Foire aux questions (FAQ)</h1>

                    <p class="brand-description">Explorez notre page Foire aux questions (FAQ) pour trouver des réponses
                        aux questions fréquemment posées concernant nos
                        produits, services et politiques. Si vous avez d'autres questions ou avez besoin d'assistance
                        supplémentaire, n'hésitez
                        pas à contacter notre équipe de support client.</p>

                </div>
            </div>
        </div>
    </div>
    <section class="featured section-padding">
        <div class="container">
            <div class="row">
                <div *ngFor="let f of faqCats" [routerLink]="['/user/faq/', f.name]"
                    class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                    <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
                        data-wow-delay="0">
                        <div class="banner-icon">
                            <img src="{{f.icon}}" alt="" />
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">{{f.name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>