<section class="product-tabs section-padding position-relative">
    <div class="container">
        <h3 class="section-title style-1 mb-30"> Nos Meilleurs Marques </h3>

        <div class="brand-container">
            <div class="brand-list">
                <div class="brand-items">
                    <a *ngFor="let b of brands" (click)="navigateToBrand(b)">
                        <img  [src]="getImageUrl(b.logo)"  alt="Brand Logo" class="brand-item-img">
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
