<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">les réclmations</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">les réclamations</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <div class="btn-group"></div>
        </div>
    </div>
    <!--end breadcrumb-->

    <hr />
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>email</th>
                            <th>recalmation</th>
                            <th>name</th>
                            <th>la date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of reclamation">
                            <td>{{ item.id }}</td>
                            <td>{{ item.email}}</td>
                            <td class="long-text-cell">{{ item.message }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.created_at}}</td>
                            <td>
                                <a (click)="deleteReclamation(item.id)" class="btn btn-danger" id="delete"
                                    title="Delete Data">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>