<div class="comment-form">
    <h4 class="mb-15">Ajouter un commentaire</h4>

    <div class="row">
        <div class="col-lg-8 col-md-12">
            <form class="form-contact comment_form" [formGroup]="form" (ngSubmit)="AddReview()" id="commentForm">
                <div class="product-rate-cover">
                    <div class="">
                        <rating formControlName="rating" [max]="5">
                        </rating>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <textarea formControlName="review" class="form-control w-100" name="comment" id="comment"
                                cols="30" rows="9" placeholder="Écrire un commentaire"></textarea>
                            <small *ngIf="form.controls['review'].errors && form.controls['review'].touched"
                                class="text-danger">
                                Le champ de commentaire est requis.
                            </small>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <button [disabled]="form.invalid" type="submit" class="button button-contactForm">Envoyer
                        le commentaire</button>
                </div>
            </form>
        </div>
    </div>
</div>