<!-- my account wrapper start -->

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a routerLink="/user/home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span>Mon compte
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                            routerLink="/user/mon-compte/accountDashbord" routerLinkActive="active"
                                            role="tab" aria-controls="dashboard" aria-selected="false"><i
                                                class="fi-rs-settings-sliders mr-10"></i>Mon espace</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab"
                                            routerLink="/user/mon-compte/orders" routerLinkActive="active" role="tab"
                                            aria-controls="orders" aria-selected="false"><i
                                                class="fi-rs-shopping-bag mr-10"></i>Suivi commandes</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                            routerLink="/user/mon-compte/account-edit" routerLinkActive="active"
                                            role="tab" aria-controls="account-detail" aria-selected="true"><i
                                                class="fi-rs-user mr-10"></i>Modifier profil</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                            routerLink="/user/mon-compte/account-password" routerLinkActive="active"
                                            role="tab" aria-controls="account-detail" aria-selected="true"><i
                                                class="fi-rs-key mr-10"></i>confidentialité</a>
                                    </li>
                                    <li class="nav-item">
                                        <a (click)="userService.logout()" class="nav-link"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                    aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <router-outlet></router-outlet>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>