<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <app-header> </app-header>
    <div class="sidebar-header">
        <div>
            <img src="app/assets/images/favicon-32x32.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Mcosm</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
            <ul>

                <li> <a routerLink="/dashboard"><i class="bx bx-right-arrow-alt"></i>Dashboard</a>
                </li>

            </ul>
        </li>



        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">gestion des produits</div>
            </a>
            <ul>

                <li> <a routerLink="/add-product"><i class="bx bx-right-arrow-alt"></i>Ajouter produit</a>
                </li>
                <li> <a routerLink="/all-product"><i class="bx bx-right-arrow-alt"></i>Nos produits</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-cookie'></i>
                </div>
                <div class="menu-title">Brand</div>
            </a>
            <ul>
                <li> <a routerLink="/add-brand"><i class="bx bx-right-arrow-alt"></i>Ajouter Brand</a>
                </li>
                <li> <a routerLink="/all-brand"><i class="bx bx-right-arrow-alt"></i>Nos Brand </a>
                </li>
            </ul>
        </li>


        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Categories</div>
            </a>
            <ul>
                <li> <a routerLink="/add-categorie"><i class="bx bx-right-arrow-alt"></i>Ajouter Categorie</a>
                </li>
                <li> <a routerLink="/all-categorie"><i class="bx bx-right-arrow-alt"></i>Nos Categories</a>
                </li>
            </ul>
        </li>


        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-codepen"></i>
                </div>
                <div class="menu-title">Sous-categorie</div>
            </a>
            <ul>
                <li> <a routerLink="/add-sous-categorie"><i class="bx bx-right-arrow-alt"></i>Ajouter
                        sous-categorie</a>

                <li> <a routerLink="/all-sous-categorie"><i class="bx bx-right-arrow-alt"></i>Nos
                        sous_categories</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-gallery"></i>
                </div>
                <div class="menu-title">les bioIngredients</div>
            </a>
            <ul>
                <li> <a routerLink="/add-bio-ingredients"><i class="bx bx-right-arrow-alt"></i>Ajouter BioIngredient</a>
                </li>
                <li> <a routerLink="/all-bio-ingredients"><i class="bx bx-right-arrow-alt"></i>Nos BioIngredients</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-gallery"></i>
                </div>
                <div class="menu-title">les flushs </div>
            </a>
            <ul>
                <li> <a routerLink="/add-flush"><i class="bx bx-right-arrow-alt"></i>Ajouter flush</a>
                </li>
                <li> <a routerLink="/all-flush"><i class="bx bx-right-arrow-alt"></i>Nos flushs </a>
                </li>

            </ul>
        </li>


        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-gallery"></i>
                </div>
                <div class="menu-title">Contact </div>
            </a>
            <ul>
                <li> <a routerLink="/add-contact"><i class="bx bx-right-arrow-alt"></i>Ajouter contact</a>
                </li>
                <li> <a routerLink="/all-contact"><i class="bx bx-right-arrow-alt"></i>Nos contacts </a>
                </li>

            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-gallery"></i>
                </div>
                <div class="menu-title">Slider</div>
            </a>
            <ul>
                <li> <a routerLink="/add-slider"><i class="bx bx-right-arrow-alt"></i>Ajouter Slider</a>
                </li>
                <li> <a routerLink="/all-slider"><i class="bx bx-right-arrow-alt"></i>Nos Slider</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-invention"></i>
                </div>
                <div class="menu-title">Les Coupons</div>
            </a>
            <ul>
                <li> <a routerLink="/add-coupon"><i class="bx bx-right-arrow-alt"></i>Ajouter Coupon</a>
                </li>
                <li> <a routerLink="/all-coupon"><i class="bx bx-right-arrow-alt"></i>Nos Coupon</a>

            </ul>
        </li>


        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-cart'></i>
                </div>
                <div class="menu-title">Gestion des commands </div>
            </a>
            <ul>
                <li> <a routerLink="/pending-orders"><i class="bx bx-right-arrow-alt"></i>les commandes Pending </a>
                </li>
                <li> <a routerLink="/confirmed-orders"><i class="bx bx-right-arrow-alt"></i>les commandes
                        cofirmées</a>
                </li>
                <li> <a routerLink="/processing-orders"><i class="bx bx-right-arrow-alt"></i>les commandes en
                        traitement</a>
                </li>
                <li> <a routerLink="/delivred-orders"><i class="bx bx-right-arrow-alt"></i>les commandes
                        délivrées</a>
                </li>



            </ul>
        </li>


        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-slideshare"></i>
                </div>
                <div class="menu-title">gestion des utilisateurs</div>
            </a>
            <ul>
                <li> <a routerLink="/all-users"><i class="bx bx-right-arrow-alt"></i>tout les utilisateurs</a>
                </li>

                <li> <a routerLink="/all-affiliate"><i class="bx bx-right-arrow-alt"></i>tout les affiliates </a>
                </li>


            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-indent-increase"></i>
                </div>
                <div class="menu-title">les Reviews </div>
            </a>
            <ul>
                <li> <a routerLink="/pending-reviews"><i class="bx bx-right-arrow-alt"></i>Pending Review</a>
                </li>

                <li> <a routerLink="/publish-reviews"><i class="bx bx-right-arrow-alt"></i>Publish Review</a>
                </li>


            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-indent-increase"></i>
                </div>
                <div class="menu-title">les réclamations</div>
            </a>
            <ul>

                <li> <a routerLink="/reclamations-all"><i class="bx bx-right-arrow-alt"></i>les réclmations</a>
                </li>

            </ul>
        </li>


        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-indent-increase"></i>
                </div>
                <div class="menu-title">les réclamations</div>
            </a>
            <ul>
                <li> <a routerLink="/add-blog"><i class="bx bx-right-arrow-alt"></i>ajouter blogs</a>
                </li>

                <li> <a routerLink="/all-blog"><i class="bx bx-right-arrow-alt"></i>les blogs</a>
                </li>

            </ul>
        </li>


        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-cart-full"></i>
                </div>
                <div class="menu-title">Stock</div>
            </a>
            <ul>
                <li> <a routerLink="/stock-product"><i class="bx bx-right-arrow-alt"></i>Product Stock</a>
                </li>

            </ul>
        </li>


        <!--end navigation-->

        <!--end sidebar wrapper -->
        <!--start header -->

        <!--end header -->
        <!--start page wrapper -->

        <!--end page wrapper -->
        <!--start overlay-->

        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i
                class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->




        <script src='https://cdn.tiny.cloud/1/vdqx2klew412up5bcbpwivg1th6nrh3murc6maz8bukgos4v/tinymce/5/tinymce.min.js'
            referrerpolicy="origin">
            </script>

        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>

        <script>
            $(function () {
                $(".knob").knob();
            });
        </script>


        <!--end wrapper-->
        <!--start switcher-->
        <!--end switcher-->