<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a routerLink="/user/home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Acceuil</a>
                <span></span> À Propos de Nous
            </div>
        </div>
    </div>

    <div class="page-content pt-50">
        <div class="container">
            <div class="">

                <div class="slider-wrapper">
                    <div class="image-list">
                        <img class="image-item" src="app/assets/_user/imgs/bg/bg2.png
                    " alt="img-1" />
                    </div>
                </div>
                <h1 class="bioIngred-title-main">À Propos de Nous</h1>
                <div style="margin: 6%;">
                    <h1 class="my-title">Notre Histoire</h1>

                    <p class="brand-description">Depuis notre création en 2023, nous sommes fiers d'être l'un des
                        leaders de l'industrie des produits
                        cosmétiques au Maroc. Notre engagement envers la beauté naturelle, la qualité et l'innovation a
                        été au cœur de notre
                        entreprise dès le début.</p>
                </div>

                <div style="margin: 6%;">
                    <h1 class="my-title">Notre Mission</h1>

                    <p class="brand-description"> Chez MCOSM, nous croyons en la beauté authentique et en la confiance
                        en soi. Notre mission est de
                        vous aider à vous sentir plus confiante et plus belle chaque jour en vous offrant des produits
                        de qualité
                        exceptionnelle, formulés avec soin pour satisfaire les besoins de votre peau.</p>
                </div>

                <div style="margin: 6%;">
                    <h1 class="my-title">Nos Produits</h1>

                    <p class="brand-description">
                        Nous sommes fiers de vous proposer une large gamme de produits cosmétiques, allant des soins
                        pour la peau aux
                        maquillages en passant par les parfums, le tout conçu pour améliorer votre beauté naturelle. Nos
                        formules sont
                        développées avec soin, en utilisant les ingrédients les plus sûrs et les plus efficaces.
                        .</p>

                </div>

                <div style="margin: 6%;">
                    <h1 class="my-title">Notre Engagement Éthique</h1>

                    <p class="brand-description">Chez MCOSM, nous nous engageons à respecter l'environnement et à
                        promouvoir des pratiques durables.
                        Nous évitons les tests sur les animaux et nous travaillons activement à réduire notre empreinte
                        écologique.</p>
                </div>

                <div style="margin: 6%;">
                    <h1 class="my-title">Notre Équipe</h1>

                    <p class="brand-description"> Notre équipe passionnée est composée d'experts de l'industrie
                        cosmétique, des chercheurs en soins de la peau aux
                        créateurs de maquillage talentueux. Nous sommes déterminés à vous offrir les meilleurs produits
                        et conseils possibles.</p>
                </div>

                <div style="margin: 6%;">
                    <h1 class="my-title">Nous Contacter</h1>

                    <p class="brand-description"> Nous sommes toujours ravis d'entendre vos commentaires et vos
                        questions. N'hésitez pas à nous contacter à [adresse
                        e-mail] ou par téléphone au [numéro de téléphone] pour toute assistance.</p>
                </div>

                <div style="margin: 6%;">
                    <h1 class="my-title">Merci de Choisir MCOSM</h1>

                    <p class="brand-description">Nous sommes honorés de faire partie de votre routine beauté
                        quotidienne. Merci de nous faire confiance pour prendre soin
                        de votre beauté naturelle.

                        Bienvenue dans le monde de la beauté avec MCOSM.</p>
                </div>
            </div>
        </div>
    </div>
</main>