<div class="row product-grid-4">

    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" *ngFor="let p of products">
        <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
            <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                    <a [routerLink]="['/user/product-details/' , p.code]">
                        <img class="default-img"  [src]="getImageUrl(p.image)" alt="" />
<!--                        <img class="hover-img"  [src]="getImageUrl(p.images[1].src)" alt="" />-->
                    </a>
                </div>
                <div class="product-action-1">
                    <a aria-label="Ajouter aux favoris" class="action-btn" (click)="addToWishList(p.id)"><i
                            class="fi-rs-heart"></i></a>
                    <a aria-label="Détails" class="action-btn" [routerLink]="['/user/product-details/' , p.code]"><i
                            class="fi-rs-eye"></i></a>
                    <a aria-label="Ajouter au panier" class="action-btn" (click)="addToCart(p)"><i
                            class="fi-rs-shopping-cart mr-5"></i></a>
                </div>

                <div *ngIf="p.discount!=0 || p.flush_discount!=0"
                    class="product-badges product-badges-position product-badges-mrg">
                    <span class="best">-{{
                        prodService.getDiscount(p.price,p.discount,p.flush_discount)}}%</span>
                </div>
            </div>
            <div class="product-content-wrap">
                <h2><a [routerLink]="['/user/product-details/' , p.code]">{{ p.name }}</a></h2>
                <div class="product-rate-cover">
                    <div class="">
                        <rating [ngModel]="p.rating" class="" [max]="5" [readonly]="true">
                        </rating>

                    </div>

                </div>
                <div>
                    <span class="font-small text-muted">par {{p.brand.name}}</span>
                </div>
                <div class="product-card-bottom">
                    <div class="product-price">

                        <span>
                            {{ prodService.discount(p.price,p.discount,p.flush_discount)}}Dh</span>

                        <span *ngIf="p.discount!=0 || p.flush_discount!=0" Class="old-price">
                            {{p.price}}Dh</span>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
